html,
body,
#root {
	height: 100vh;
}

body {
	font-size: 100%;
	box-sizing: inherit;
	margin: 0;
	padding: 0;
	background: #fefefe;
	font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
	font-weight: normal;
	line-height: 1.5;
	color: #0a0a0a;
	-webkit-font-smoothing: antialiased;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

:root {
	--off-white: #fafafa;
}
.nav {
	background-color: var(--off-white);
	position: sticky;
	top: 0px;
	width: 100%;
	height: 80px;
	z-index: 1000;
	box-shadow: 0 4px 14px 0 rgba(0, 0, 0, 0.15);
}

.nav-logo {
	height: 60px;
	width: 60px;
}

.nav-logo:hover {
	cursor: pointer;
}

.nav .nav-content {
	max-width: 900px;
	padding: 0rem 3rem;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

.nav-item {
	display: inline;
	margin-left: 2rem;
	color: #333;
}

.nav-item:hover {
	color: black;
	cursor: pointer;
}

.section {
}

.section-dark {
	background: #333;
	color: white;
}

.section-content {
	max-width: 800px;
	margin: 0 auto;
	padding: 40px;
}

.section_active {
	color: red;
}
